@import "../../assets/palette.scss";

.title-editor-wrapper {
  padding: 16px;
}

.content-editor-wrapper {
  padding-left: 32px;
  padding-right: 32px;
  border-left: 3px solid rgba($color2, 0.2);
  border-right: 3px solid rgba($color2, 0.2);
  box-shadow: black;
  min-height: 240px;
}

.submit-wrapper {
  padding: 16px;
}


.editor-wrapper {
  padding: 16px;
}
