<section class="section">
  <form class="editor-wrapper" [formGroup]="editorForm" (ngSubmit)="onSubmit()">
    <!-- Post Title -->
    <div class="container title-editor-wrapper">
      <input id="postTitle" class="input is-large" type="text" name="title" formControlName="postTitle" [placeholder]="post.title" required>
    </div>
    <!-- Editor -->
    <div class="container content-editor-wrapper">
      <div id="postEditor" class="editor" name="content" [froalaEditor]="editorOptions" formControlName="postContent">
      </div>
    </div>
    <!-- Submit! -->
    <div class="container submit-wrapper">
      <button id="submitButton" class="button" type="submit">Submit</button>
    </div>
  </form>
</section>
