.preview-container {
  .post-preview {
    max-height: 150px;
    overflow: hidden;
    position: relative;
  }
  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
  }
  border-radius: 5px;
  margin: 5px;
}

.card-footer {
  padding: 5px;
  border-bottom-left-radius: 5px;
  justify-content: right;
}
