<div *ngIf="post" class="container preview-container">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{post.title}} | Post #{{post.id}}.
      </p>
    </header>
    <div class="card-content post-preview">
      <div [innerHTML]="post.content" class="content">
        <!-- CONTENT RENDERS HERE -->
      </div>
      <div class="card-overlay"></div>
    </div>
    <footer class="card-footer">
        <button class="button is-small" routerLink="/post/{{post.id}}"> Read More </button>
    </footer>
  </div>
</div>
