<section class="section">
  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{post.title}} | Post #{{post.id}}.
        </p>
      </header>
      <div class="card-content post-preview">
        <div [innerHTML]="post.content" class="content">
          <!-- CONTENT RENDERS HERE -->
        </div>
        <div class="card-overlay"></div>
      </div>
      <footer class="card-footer">
        <button class="button" routerLink="/editor/{{post.id}}">Edit</button>
      </footer>
    </div>
  </div>
</section>