/* You can add global styles to this file, and also import other style files */
/*! debug.css | MIT License | zaydek.github.com/debug.css */
/*:not(path):not(g) {
	color:                    hsla(210, 100%, 100%, 0.9) !important;
	background:               hsla(210, 100%,  50%, 0.5) !important;
	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
	box-shadow: none !important;
}*/
@import "./assets/palette.scss";
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.title, .card-header-title {
	color: $color2;
	font-weight: bolder;
}

* {
	font-family: 'Merriweather', serif;
	
}



